.flex-container{
    display:flex;
  }
    .flex-container>div{ 
      width:200px;
      height:200px;
        background-color:red;
      text-align:center;
  }
  .one{
    margin:10px;
  }
  .two{
    margin:10px
  }
  .three{
    margin:10px
  }
  @media screen and (max-width:720px){
    .flex-container{
      flex-direction:column;
    }
}
   

